<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= collection_select(:item, :user_id, User.all, :id, :username) %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= render 'markdown_cheat' %>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="actions">
    <%= link_to 'Delete Item', @item, class: 'delete', confirm: 'Are you sure?', method: :delete if @delete_enabled %>
  </div>
<% end %>
