<div class="item">
  <div class="item-header">
    <h2><%= link_to item.title, item.url, html_options = { target: '_blank' } %></h2>
    <div class="url"><%= link_to item.url, item.url, html_options = { target: '_blank' } %></div>
  </div> <!-- .item-header -->
  <p class="description"><%= item.description %></p>
  <div class="meta">
    <% if item.user.present? %>
    <%= link_to item.user.username, item.user, class: "author color-" + random_str(1, {seed: item.user.username, range: 4}) %>
    <% end %>
    <%= link_to pretty_date(item.created_at, format: :numbers), item %>
    <% if current_user %>
      <%= link_to 'Edit', edit_item_path(item), class: 'edit' %>
      <%= link_to 'Delete', item, class: 'delete', confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>
</div>