<h1>Bits <span id="newItem"><%= link_to 'New Item', new_item_path, id: 'newItem' %></span></h1>


<div id="items">
<% @items.each do |item| %>
  <div class="item">
    <div class="item-header">
      <h2><%= link_to item.title, item.url, html_options = { target: '_blank' } %>
          <span class="permalink"><%= link_to '[permalink]', item %></span></h2>
      <div class="url"><%= link_to item.url, item.url, html_options = { target: '_blank' } %></div>
    </div> <!-- .item-header -->
    <p class="description"><%= item.description %></p>
    <div class="meta">
      <%= link_to 'Edit', edit_item_path(item), class: 'edit' %>
      <%= link_to 'Delete', item, class: 'delete', confirm: 'Are you sure?', method: :delete %>
    </div>
  </div>
  <!-- <hr /> -->
<% end %>
</div> <!-- #items -->

<div id="bookmarklet">
  Drag this to your Bookmarks Bar: <%= link_to 'Post', '' %>
</div>