<!DOCTYPE html>
<html>
<head>
  <title>Bits of Links</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, feed_url) %>
</head>
<body>
  <div id="mainWrap">
    <div id="content">
      <% unless alert.nil? %>
        <p id="alert" class="flash"><%= alert %></p>
      <% end %>
      <% unless notice.nil? %>
        <p id="notice" class="flash"><%= notice %></p>
      <% end %>
    
      <div id="session">
        <%= link_to "Log in", login_path if !current_user %>
        <%= link_to "Log out", logout_path if current_user %>
      </div>
      <%= yield %>
    </div><!-- #content -->
  </div><!-- #mainWrap -->
  <div id="footer">
    &copy; <%= link_to "Edward Loveall", "http://edwardloveall.com/" %> <%= Time.now.strftime("%Y")%>
  </div>
</body>
</html>